<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout::template(~{:: #comments-content})}">

<section id="comments-content">
  <div class="container">
    <h1>Opinie</h1>
    <table style="width: 100%">
      <tr th:each="coments :${coments}">
        <td>
          <h3 th:text="${coments.name}"></h3>
          <p style="font-weight: 200" th:text="${coments.comment}"></p>
        </td>
      </tr>
    </table>

    <form method="post" th:object="${newComment}" >
      <div>
        <input  th:field="*{name}" type="text"  placeholder="Nazwa" class="input">
      </div>
      <div>

        <textarea th:field="*{comment}" name="comment" id="comment" placeholder="Twoja opinia..." class="input"></textarea>
      </div>
      <div>
        <button class="btm-sm">Dodaj</button>
      </div>
    </form>
  </div>

</section>

</html>